@import '../../styles/media.css';

.container {
    position: relative;
    display: flex;
    place-content: center;
    /* justify-items: center; */
    height: 100%;
}

.startModal {
    position: absolute;
    /* top: 100px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.startModal button {
    align-self: center;
}

.blurryText {
    filter: blur(4px);
  
}