@import '../../styles/media.css';

.container {
    cursor: text;

    @media(--laptop) {
        font-size: 40px;
    }
}


.pending {
    
}

.correct {
    color: var(--colors-green-500);
}

.incorrect {
    color: var(--colors-red-500);
    text-decoration: underline;
}

.current {
    background-color: var(--colors-neutral-500);
    border-radius: 4px;
}