@import '../../styles/media.css';

.container {
    cursor: text;

}


.pending {
    color: grey;
}

.correct {
    color: var(--colors-green-500);
}

.incorrect {
    color: var(--colors-red-500);
    text-decoration: underline;
}

.current {
    color: blue;
}