@import '../../styles/media.css';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabletLogo {
    display: none;

    @media(--tablet) {
        display: block;
    }
}

.mobileLogo {

    @media(--tablet) {
        display: none;
    }
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.personalBest {

}

.personalBest b {
    color: var(--colors-neutral-0);
}