@import '../../styles/media.css';

.container {
    display: flex;
    justify-content: space-between;
    
}

.wrapper {

    @media(--laptop) {
        display: flex;
        gap: 20px;
    }
}

.navHeadings {
    display: flex;
    flex-direction: column;

    @media(--laptop) {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

.navHeadings span {
    color: var(--colors-neutral-0);
    font-size: 24px;
    font-weight: 700;
}

.verticalLine {
    border-left: 1px solid var(--colors-neutral-700);

}