:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spacing-200: 16px;
  --spacing-400: 32px;

  --colors-neutral-900: hsla(0, 0%, 7%, 1);
  --colors-neutral-700: hsla(0, 0%, 23%, 1);
  --colors-neutral-400: hsla(240, 1%, 59%, 1);
  --colors-neutral-0: hsla(0, 0%, 100%, 1);

  --font-normal: 16px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-normal);
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--colors-neutral-400);
    background-color: var(--colors-neutral-900);
  }

}
